table {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}
td {
  width: 50px;
  height: 40px
}
.btn {
  background-color: #eee;
}
.right {
  background-color: orange;
  color: white;
}
.current {
  background-color: #333;
  color: white;
}
.clear {
  background-color: rgb(255, 121, 143);
}
.first-td {
  text-align: right;
  padding-right: .5rem;
}